<!DOCTYPE html>
<html>

<head>
    <title id="pageTitle">Generating Build</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <br/>
    
    <object id="windowsLogo" class="platform-logo" data="static/windows.svg" type="image/svg+xml"></object>
    <object id="macosLogo" class="platform-logo" data="static/macos.svg" type="image/svg+xml"></object>
    <object id="linuxLogo" class="platform-logo" data="static/linux.svg" type="image/svg+xml"></object>
    <object id="androidLogo" class="platform-logo" data="static/android.svg" type="image/svg+xml"></object>

    <div>
        <h2 class="loading-text">This may take a while, please wait...</h2>
        <div class="loading-spinner"></div>
        <div class="progressGrid">
            <span id="percentText">%</span>
            <div class="progress-bar">
                <div id="progressBarFill" class="progress-bar-fill"></div>
            </div>
            <span>100%</span>
        </div>
        <p><span id="statusText">{{status}}</span></p>
    </div>

    <div id="note" class="note">
        This can take 20-30 minutes (or longer if there are other users).
        <br />
        Note for macOS users: Generating an executable may require additional steps or permissions.
    </div>

    <script>
        function updatePlatformUI() {
            const platform = '{{platform}}'.toLowerCase();
            const platformLogos = {
                'windows': document.getElementById('windowsLogo'),
                'macos': document.getElementById('macosLogo'),
                'linux': document.getElementById('linuxLogo'),
                'android': document.getElementById('androidLogo'),
                'macos-x86': document.getElementById('macosLogo')
            };

            Object.values(platformLogos).forEach(logo => logo.style.display = 'none');

            if (platform === 'macos') {
                document.getElementById('pageTitle').textContent = 'Generating MacOS Build';
                platformLogos.macos.style.display = 'block';
            } else if (platform === 'windows') {
                document.getElementById('pageTitle').textContent = 'Generating Windows Build';
                platformLogos.windows.style.display = 'block';
            } else if (platform === 'linux') {
                document.getElementById('pageTitle').textContent = 'Generating Linux Build';
                platformLogos.linux.style.display = 'block';
            } else if (platform === 'android') {
                document.getElementById('pageTitle').textContent = 'Generating Android Build';
                platformLogos.android.style.display = 'block';
            } else if (platform === 'macos-x86') {
                document.getElementById('pageTitle').textContent = 'Generating MacOSX86 Build';
                platformLogos.macos.style.display = 'block';
            }
        }

        // Progress
        const progressBar = document.getElementById('progressBarFill');
        const percentText = document.getElementById('percentText');
        const statusTem = "{{status}}"
        const percent = statusTem === "Success" ? "100%" : statusTem.split(/ +/)[0] // ahh solution
        percentText.textContent = percent
        progressBar.style.width = percent

        updatePlatformUI();

        setTimeout(function () {
            window.location.replace('/check_for_file?filename={{filename}}&uuid={{uuid}}&platform={{platform}}');
        }, 5000); // Advanced each 5second refresh method ✅✅✅✅✅✅✅✅ // (i can't be damn to make it better because my python and django skills are -1)
    </script>
</body>

</html>